.ButtonContainerHomepage {
    display: inline-grid;
}

.ButtonsHomepage {
    width: 300px;
    height: 70px;
    margin: 10px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: 5px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.ButtonsHomepage:hover {
    box-shadow: 0 4px 3px 1px #B6D7A8, 0 6px 8px #274E13, 0 -4px 4px #274E13, 0 -6px 4px #B6D7A8, inset 0 0 3px 3px #B6D7A8;
}

.ButtonsHomepage:active {
    box-shadow: 0 2px 1px 0 #B6D7A8, 0 4px 6px #274E13, 0 -2px 2px #274E13, 0 -4px 2px #B6D7A8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.ButtonsHomepage:focus {
    box-shadow: 0 2px 1px 0 #B6D7A8, 0 4px 6px #274E13, 0 -2px 2px #274E13, 0 -4px 2px #B6D7A8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


.AddButton {
    position: fixed;
    right: 10px;
    z-index: 9999;
}

.loader {
    width: 12em;
    height: 1em;
    border-radius: 8px;
    background-color: #274E13;
}

.loader div {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #B6D7A8;
    animation: width7435 5s linear infinite;
    transition: all;
}

@keyframes width7435 {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

