.ButtonContainerHomepage {
    display: inline-block;

}

.ButtonsHomepage {
    width: 300px;
    height: 80px;
    margin: 20px;
    border: 1px solid #274E13;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #274E13;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    box-shadow: 0 10px 15px -6px #274E13;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B6D7A8 linear-gradient(to top, #274E13 0%, #B6D7A8 80%, #274E13 100%);
    transition: all 0.2s ease;
    text-shadow: 0 1px #274E13;
}

.ButtonsHomepage:hover {
    box-shadow: 0 4px 3px 1px #B6D7A8, 0 6px 8px #274E13, 0 -4px 4px #274E13, 0 -6px 4px #B6D7A8, inset 0 0 3px 3px #B6D7A8;
}

.ButtonsHomepage:active {
    box-shadow: 0 4px 3px 1px #B6D7A8, 0 6px 8px #274E13, 0 -4px 4px #274E13, 0 -6px 4px #B6D7A8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.ButtonsHomepage:focus {
    box-shadow: 0 4px 3px 1px #B6D7A8, 0 6px 8px #274E13, 0 -4px 4px #274E13, 0 -6px 4px #B6D7A8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

