.Taskcardgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 16px;
    top: 178px;
}

.Headline {
    display: flex;
    justify-content: space-around;
}

h1 {
    display: flex;
    align-items: center;
}

.ButtonContainerRoundButton {
    display: flex;
    margin-top: 10px
}

.RoundButton {
    padding: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #B6D7A8;
    border: 1px solid #274E13;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: rgba(39, 78, 19, 0.7) 4px 4px 0 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

h6 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FF9B71;
    background: #F2F2F2;
    width: 300px;
    height: 120px;
    border-radius: 35px;

}

.BackButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.loader {
    width: 12em;
    height: 1em;
    border-radius: 8px;
    background-color: #274E13;
}

.loader div {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #B6D7A8;
    animation: width7435 5s linear infinite;
    transition: all;
}

@keyframes width7435 {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}