.form {
    display: inline-grid;
    gap: 10px;
    background: linear-gradient(to right, #274E13, #B6D7A8);
    padding: 40px;
    border-radius: 10px;
    margin: 20px;
    max-width: 400px;
    width: 240px;
    height: auto;
}

@media screen and (max-width: 480px) {
    .form {
        padding: 20px;
        height: auto;
    }
}

.login {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.form button {
    margin-top: 25px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.form label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.form button:hover {
    box-shadow: 2px 2px 12px #F2F2F2;
}

.input {
    height: 30px;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #274E13;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 12px inset black;
    color: #274E13;
    background: #DADADA;
}

.inputRegister {
    height: 15px;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #274E13;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 2px 2px 12px inset black;
    color: #274E13;
    background: #DADADA;
}

.color {
    color: #274E13;
}

.align {
    text-align: center;
}

.LoginLogo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.LoginLogo img {
    width: 280px;
    height: auto;
    max-width: 100%;
}

.LinkRegister {
    text-decoration: none;
    color: #274E13;
    font-size: 16px;
    transition: font-size 0.3s ease-in-out;
}

.LinkRegister:hover {
    font-weight: bold;
}






