.App-header {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 12vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: #DADADA;
    position: relative;
    padding: 0 20px 0 10px;
}

.App-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #B6D7A8;
    opacity: 0.4;
    z-index: -1;
}

.LogoContainer {
    display: flex;
    align-items: center;
}

.App-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.ButtonContainerHeader {
    display: flex;
    align-items: center;
}

.RoundButtonHeader {
    margin-top: 10px;
    padding: 5px;
    width: 75px;
    height: 35px;
    border-radius: 10px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: rgba(39, 78, 19, 0.7) 2px 2px 0 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
}

.App-header p {
    color: #274E13;
}

.LinkHeader {
    text-decoration: none;
    color: #274E13;
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}

.LinkHeader:hover {
    font-size: 24px;
}
