.Detailstaskcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 333px;
    height: 465px;
    background: linear-gradient(to right, #356B1C, #B6D7A8);
    border: 1px solid #274E13;
    border-radius: 10px;
    margin: auto;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Detailstaskcard.without-buttons {
    height: 420px;
}

.FieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin-top: 2px;
}

.FieldContainer label {
    font-weight: bold;
    margin-right: 10px;
}

.DateContainer {
    display: flex;
    justify-content: space-around;
    width: 280px;
}


.Smallline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 35px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Smallline2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 90px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
    white-space: pre-wrap;
}

.ButtonContainer {
    display: flex;
    margin: 5px;
}

.ButtonsDetailsCard {
    margin: 5px;
    width: 135px;
    height: 35px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 17px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.Links {
    text-decoration: none;
    color: #274E13;
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}

.Links:hover {
    font-size: 24px;
}