.Detailstaskcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 333px;
    height: 480px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    border-radius: 35px;
    margin: auto;
    font-size: 20px;
    color: #FF9B71;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.DateContainer {
    display: flex;
    justify-content: space-around;
    width: 280px;
}

.Smallline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 278px;
    height: 44px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Smallline2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 130px;
    height: 44px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    color: #FF9B71;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 145px;
    margin-top: 10px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    text-align: center;
    color: #FF9B71;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
    white-space: pre-wrap;
}

.ButtonContainer {
    display: flex;
    justify-content: space-around;
}

.ButtonsDetailsCard {
    display: flex;
    justify-content: center;
    width: 131px;
    height: auto;
    margin-top: 10px;
    background: #B6D7A8;
    border: 1px solid #274E13;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.Links {
    text-decoration: none;
    color: #274E13;
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}

.Links:hover {
    font-size: 24px;
}

