.Detailstaskcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 333px;
    height: 465px;
    background: linear-gradient(to right, #356B1C, #B6D7A8);
    border: 1px solid #274E13;
    border-radius: 10px;
    margin: auto;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.CountButtonDetails {
    display: flex;
    align-items: center;
    height: 20px;
    background: #B6D7A8;
    border: 1px solid #C7E8B9;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: rgba(39, 78, 19, 0.7) 2px 2px 0 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

.AmountOfPeople {
    display: flex;
    align-items: center;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #356B1C, #B6D7A8);
    border: 1px solid #274E13;
    border-radius: 10px;
    margin: auto;
    color: #274E13;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
    padding: 20px;
    z-index: 10000;
}

.popup-content ol {
    list-style-type: decimal;
    padding-left: 20px
}

.popup-content li {
    text-align: left;
    padding-left: 5px;
}


.FieldContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    margin-top: 2px;
}

.FieldContainer label {
    font-weight: bold;
    margin-right: 10px;
}

.DateContainer {
    display: flex;
    justify-content: space-around;
    width: 280px;
}


.Smallline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 35px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Smallline2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: 300ms ease-in-out;
}

.Textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 278px;
    height: 90px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px #274E13;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
    white-space: pre-wrap;
}

.ButtonContainer {
    display: flex;
    margin: 5px;
}

.ButtonsDetailsCard {
    margin: 5px;
    width: 135px;
    height: 35px;
    background: #B6D7A8;
    border: 1px solid #C7E8B9;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #274E13;
    outline: none;
    box-shadow: rgba(39, 78, 19, 0.7) 2px 2px 0 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 17px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.Links {
    text-decoration: none;
    color: #274E13;
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}

.Links:hover {
    font-size: 24px;
}