.ButtonsContainer {
    margin-bottom: 10px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center
}

label {
    margin-top: auto;
    color: #274E13;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-style: normal;

}

textarea {
    height: 30px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 5px;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}


textarea:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}

select {
    height: 30px;
    background: #F2F2F2;
    border: 1px solid #274E13;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    padding: 5px;
    color: #274E13;
    outline: none;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;

}

