.Taskcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 158px;
    height: 300px;
    background: #B6D7A8;
    border: 1px solid #000000;
    border-radius: 35px;
    margin: 10px;
}

.Smallcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 2px 0 0;
    width: 67px;
    height: 103px;
    background: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    color: #FF9B71;
}

.Buttons {
    width: 131px;
    height: 16px;
    left: 206px;
    top: 419px;
    background: #B6D7A8;
    border: 1px solid #000000;
    border-radius: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    color: #274E13;
}

p {
    display: block;
    margin-bottom: 10px;
}